<%= render partial:'comment/commentform',locals: {post: @post,comment: @comments} %>

<div class="index-main">
  <div class="index-profile-container">
    <div class="index-user-background">
      <%=link_to image_tag("/user_background/#{@current_user.background}"),"/users/userprofile/#{@current_user.public_uid}"%>
    </div>
    <div class="index-user-image">
      <%=link_to image_tag("/user_images/#{@current_user.image}"),"/users/userprofile/#{@current_user.public_uid}"%>
    </div>

    <div class="index-user-name">
      <%= link_to(@current_user.name,"/users/userprofile/#{@current_user.public_uid}")%>
    </div>
    <div class="index-user-content">
      <a><li class="index-user-menu index-friends"><%= link_to("友達一覧","/friendlist/userlist/#{@current_user.public_uid}")%></li></a>
      <a><li class="index-user-menu index-likes"><%= link_to("いいね一覧","/users/like/#{@current_user.public_uid}")%></li></a>
    </div>
  </div>

  <div class="main posts-index">
    <div id="posts_index" class="posts-index-center-items">
      <div id="posts-index-item">
        <%= render partial: 'show',locals: {post: @post,comment: @comment} %>
      </div>
    </div>

    <div class="index-userlist-container">
      <h2>おすすめユーザー</h2>
      <% @recomended_users.each do |recomended_user| %>
      <% if Friendlist.find_by(friend_id:recomended_user.id,user_id:@current_user.id) || recomended_user.id==@current_user.id %>
      <% else %>
      <div class="index-userlist-content">
        <div class="index-userlist-image">
          <%=link_to image_tag("/user_images/#{recomended_user.image}"),"/users/userprofile/#{recomended_user.public_uid}"%>
        </div>
        <div class="index-userlist-name">
          <%= link_to(recomended_user.name,"/users/userprofile/#{recomended_user.public_uid}")%>
        </div>
        <%= form_tag("/friendlist/friendbtn/#{recomended_user.id}",method: :post) do %>
        <input type="submit" value="友達申請" class="index-userlist-friendbtn">
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
