<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Audio</title>
</head>
<body>
  <div class="table">
    <table border="1">
      <tr>
        <th>ID</th>  <th>user_id</th><th>title</th><th>file</th><th>image</th></tr>
        <% @audios.each do |audio| %>
        <tr>
          <td><%= audio.id %></td>
          <td><%= audio.user_id %></td>
          <td><%= audio.title %></td>
          <td><%= audio.file %></td>
          <td><%= audio.image %></td>
        </tr>
        <% end %>
      </div>
    </body>
    </html>
