<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ANOTHER</title>
</head>
<body>
  <div class="table">
    <table border="1">
      <tr>
        <th>ID</th>
        <th>email</th>
        <th>uid</th>
        <th>provider</th>
        <th>name</th>
        <th>image</th>
        <th>background</th>
        <th>nickname</th>
        <th>encrypted_password</th>
        <th>reset_password_token</th>
        <th>reset_password_sent_at</th>
        <th>remember_created_at</th>
        <th>current_sign_in_at</th>
        <th>last_sign_in_at</th>
        <th>current_sign_in_ip</th>
        <th>last_sign_in_ip</th></tr>

        <% @authentic_users.each do |authentic_user| %>
        <tr>
          <td><%= authentic_user.id %></td>
          <td><%= authentic_user.email %></td>
          <td><%= authentic_user.uid %></td>
          <td><%= authentic_user.provider %></td>
          <td><%= authentic_user.name %></td>
          <td><%= authentic_user.image %></td>
          <td><%= authentic_user.background %></td>
          <td><%= authentic_user.nickname %></td>
          <td><%= authentic_user.encrypted_password %></td>
          <td><%= authentic_user.reset_password_token %></td>
          <td><%= authentic_user.reset_password_sent_at %></td>
          <td><%= authentic_user.remember_created_at %></td>
          <td><%= authentic_user.current_sign_in_at %></td>
          <td><%= authentic_user.last_sign_in_at %></td>
          <td><%= authentic_user.current_sign_in_ip %></td>
          <td><%= authentic_user.last_sign_in_ip %></td>
        </tr>
        <% end %>
      </div>
    </body>
    </html>
