<%= render partial: 'posts/newpost' %>
<%= render partial: 'posts/new_post_destroy' %>

<%= render partial: 'genre/edit',locals: {user: @users} %>
<%= render partial: 'instrument/edit',locals: {user: @users} %>
<%= render partial: 'gender/edit',locals: {user: @users} %>
<%= render partial: 'prefecture/edit',locals: {user: @users} %>

<%= render partial: 'genre/edit_genre_destroy' %>
<%= render partial: 'instrument/edit_instrument_destroy'%>
<%= render partial: 'gender/edit_gender_destroy' %>
<%= render partial: 'prefecture/edit_prefecture_destroy'%>

<%= render partial: 'friend_destroy_warning_form',locals: {user: @users} %>
<%= render partial: 'editprofile',locals: {user: @users} %>
<%= render partial: 'edit_userprofile_destroy',locals:{user:@users} %>

<%= render partial: 'userprofile_upper' %>

<script>
  $(function(){
    var OFFSET=70;
    $(window).scrollTop($('.user-image').offset().top-OFFSET);
  });
</script>

<div class="userprofile-container">
  <div class= "userprofile-friends-items">
    <%   @follow_users.each do |follow|%>
    <div class="userprofile-friends-item">
      <div class="friends-user-image">
        <%=link_to image_tag(follow.image.url),"/profile/#{follow.public_uid}"%>
        <div class="friends-user-name">
          <h3><%= link_to(follow.name,"/profile/#{follow.public_uid}") %></h3>
        </div>

        <div class="friends-user-id"><h5><%= link_to("@#{follow.public_uid}","/profile/#{follow.public_uid}") %></h5></div>

        <% unless follow.content==nil %>
        <div class="friends-contents">
          <p><%= link_to(follow.content,"/profile/#{follow.public_uid}") %></p>
        </div>
        <% end %>

        <% if follow.id!=@current_user.id %>
        <%if Follow.find_by(user_id: @current_user.id, follow_id: follow.id)%>
        <div class="followlist-follow-destroy-btn"><%= link_to("コネクト中","/follow/destroy/#{follow.public_uid}",method: :post)%></div>
        <% else %>
        <div  class="followlist-follow-create-btn"><%= link_to("コネクト","/follow/create/#{follow.public_uid}",method: :post)%></div>
        <% end %>
        <% end %>
      </div>
    </div>
    <% end %>

  </div>
</div>
