  <div class="login-form-container">
    <h2>Another.comへようこそ</h2>
    <p>Another.comは頑張ったことを共有するもう1つのSNSサイトです。</p>
    <div class="login-left-container">
      <h1>ANOTHER</h1>
      <div class="login-left-radius">
<div class="login-btn-container">
    <div class="facebook-login-form-btn"><%= fa_icon 'facebook lg',class:"font-facebook"%>Facebookでログインする</div>
    <div class="twitter-login-form-btn"><%= fa_icon 'twitter lg',class:"font-twitter"%>Twitterでログインする</div>

    <div class="new-login-form-btn"><%= fa_icon 'paper-plane lg',class:"font-new"%>新規登録する</div>
    </div>
<%= form_with model:@users,url:"/login",method: :post,local:true do |form| %>
<div class="login-form-body">
  <div class="login_error_message">
  <% if @error_message %>
  <%= @error_message %>
  <%end%>
  </div>
        <%= form.text_field :email,type:"email",class:"login_email_form",placeholder:"メールアドレスを入力" %>
        <%= form.text_field :password,type:"password",class:"login_password_form",placeholder:"パスワードを入力" %>
            <%= form.submit "ログイン",class: 'login-form-btn' %>
        </div>
        <% end %>
        </div>
        </div>
        </div>
