<%= form_with(model: @instrument,url: "/instrument/create",method: :post, local: true) do |form| %>
<div class="genre-index">
  <div class="genre-item">
    <div class="genre-header-menu">
      <h2>担当パート</h2>
    </div>

    <div class="check-box-container">
      <%= form.label :vocal,"ボーカル",class:"instrument-check-box-label" %>
      <%= form.check_box :vocal,class:"instrument-check-box" %>
    </div>
    
    <div class="check-box-container">
      <%= form.label :guiter,"ギター",class:"instrument-check-box-label" %>
      <%= form.check_box :guiter,class:"instrument-check-box" %>
    </div>

    <div class="check-box-container">
      <%= form.label :bass,"ベース",class:"instrument-check-box-label" %>
      <%= form.check_box :bass,class:"instrument-check-box" %>
    </div>

    <div class="check-box-container">
      <%= form.label :drum,"ドラム",class:"instrument-check-box-label" %>
      <%= form.check_box :drum,class:"instrument-check-box" %>
    </div>

    <div class="check-box-container">
      <%= form.label :key,"キーボード",class:"instrument-check-box-label" %>
      <%= form.check_box :key,class:"instrument-check-box" %>
    </div>

    <div class="check-box-container">
      <%= form.label :dj,"DJ",class:"instrument-check-box-label" %>
      <%= form.check_box :dj,class:"instrument-check-box" %>
    </div>

    <div class="check-box-container">
      <%= form.label :sax,"サックス",class:"instrument-check-box-label" %>
      <%= form.check_box :sax,class:"instrument-check-box" %>
    </div>

    <div class="check-box-container">
      <%= form.label :violin,"ヴァイオリン",class:"instrument-check-box-label" %>
      <%= form.check_box :violin,class:"instrument-check-box" %>
    </div>

    <div class="check-box-container">
      <%= form.label :other,"その他",class:"instrument-text-field-label" %>
      <%= form.text_field :other,value:"",placeholder:"一覧にない楽器",class:"instrument-text-field" %>
    </div>

    <div class="actions">
      <%= form.submit "登録する",class:"instrument-create-btn" %>
    </div>
  </div>

  <script>
    $(function() {
      vocal = document.getElementById('instrument_vocal');
      $(vocal).on('change',function(){
        if (vocal.checked == true) {
          $('.instrument-check-box-label').eq(0).addClass('instrument-check-box-active');
        }
        else {
          $('.instrument-check-box-label').eq(0).removeClass('instrument-check-box-active');
        }
      });

      guiter = document.getElementById('instrument_guiter');
      $(guiter).on('change',function(){
        if (guiter.checked == true) {
          $('.instrument-check-box-label').eq(1).addClass('instrument-check-box-active');
        }
        else {
          $('.instrument-check-box-label').eq(1).removeClass('instrument-check-box-active');
        }
      });

      bass = document.getElementById('instrument_bass');
      $(bass).on('change',function(){
        if (bass.checked == true) {
          $('.instrument-check-box-label').eq(2).addClass('instrument-check-box-active');
        }
        else {
          $('.instrument-check-box-label').eq(2).removeClass('instrument-check-box-active');
        }
      });

      drum = document.getElementById('instrument_drum');
      $(drum).on('change',function(){
        if (drum.checked == true) {
          $('.instrument-check-box-label').eq(3).addClass('instrument-check-box-active');
        }
        else {
          $('.instrument-check-box-label').eq(3).removeClass('instrument-check-box-active');
        }
      });

      key = document.getElementById('instrument_key');
      $(key).on('change',function(){
        if (key.checked == true) {
          $('.instrument-check-box-label').eq(4).addClass('instrument-check-box-active');
        }
        else {
          $('.instrument-check-box-label').eq(4).removeClass('instrument-check-box-active');
        }
      });

      dj = document.getElementById('instrument_dj');
      $(dj).on('change',function(){
        if (dj.checked == true) {
          $('.instrument-check-box-label').eq(5).addClass('instrument-check-box-active');
        }
        else {
          $('.instrument-check-box-label').eq(5).removeClass('instrument-check-box-active');
        }
      });


      sax = document.getElementById('instrument_sax');
      $(sax).on('change',function(){
        if (sax.checked == true) {
          $('.instrument-check-box-label').eq(6).addClass('instrument-check-box-active');
        }
        else {
          $('.instrument-check-box-label').eq(6).removeClass('instrument-check-box-active');
        }
      });

      violin = document.getElementById('instrument_violin');
      $(violin).on('change',function(){
        if (violin.checked == true) {
          $('.instrument-check-box-label').eq(7).addClass('instrument-check-box-active');
        }
        else {
          $('.instrument-check-box-label').eq(7).removeClass('instrument-check-box-active');
        }
      });
    });
  </script>
</div>
<% end %>
